@import "../bootstrap/_functions.scss";
@import "../bootstrap/_variables.scss";

//$body-bg: #D1CACD;
$white: #CCC2BB;
$gray-100: #B3A9A2;
$gray-200: #998F88;
$gray-300: #998F88;
$gray-400: #665C55;
$gray-500: #4D433C;
$gray-600: #332922;
$gray-700: #1A1009;
$gray-800: #1A1009;
$gray-900: #1A1009;
$black: #1A1009;

$body-bg: $white;

$theme-colors: ( "primary": #141645, "secondary": #7695BF, "info": #6854BB, "dark": #271B39 );


@import "../bootstrap/bootstrap.scss";