@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h4>Adventure Log is collaboration.</h4>

<p>
    Adventure Log is an application that allows Gamemasters and Players of tabletop RPGs to collaborate on adventures.
    This is done through an open ended interface that allows gamemasters to create wikipedia-esque pages to display the content of their world.
    Players can contribute notes or messages to items created by gamemasters through comments.
</p>
