@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Adventure Log</h1>
    <p class="lead">
        Adventure Log is an application that allows Gamemasters and Players of tabletop RPGs to collaborate on adventures.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Infinite Possibilities</h2>
        <p>
            Adventure Log lets Gamemasters create their own wikipedia esque pages that contain any information about their adventure they desire.
            Images, Videos, and links to other pages are all easy and clean to add to any page.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Player Contributions</h2>
        <p>Players can add their own notes on any Gamemaster created item through each item's comment section.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Privacy</h2>
        <p>
            Don't worry about uninvited comments or unwated attention to your adventure's information.
            Adventure Log provides the means to secure adventures or leave them open to the public through the Invite link system.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>