
@{
    ViewBag.Title = "Invite";
}
<h2>Failed to Access: </h2>
<h4>
    The page you tried to access does exist, but you do not have permission to access it.<br />
    Please confirm the adventure you wished to access or request an invite link from the adventure gamemaster.<br />
</h4>

<div class="d-flex justify-content-center">
    <img src="https://media1.tenor.com/images/3124b252729e66da594d66936c1f8e45/tenor.gif?itemid=11807707" alt="Uh oh!" />
</div>