
@{
    ViewBag.Title = "Invite";
}

<div class="p-3">
    <h2>Invite Successful:</h2>
    <h4>
        Unfortunately, the creator of this adventure has made it secured.  Please contact an adventure gamemaster to accept your join request.
    </h4>
    <div class="d-flex justify-content-center">
        <img src="https://media1.tenor.com/images/cec35bde0217ebd080a0b92cddc61ef4/tenor.gif?itemid=8762641" alt="Refused Entry.mad" />
    </div>
</div>